article p {
    margin: 15px;
}

.content {
    margin-bottom: 25px;
}

#Logo {
    width: 100%;
    border-radius: 0;
}
nav {
    display: block;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 10px;
    font-weight: bolder;
    margin-top: 15px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

ul li a{
    text-decoration: none;
}

ul li {
    list-style: none;
}